{% from 'wtf.html' import csrf_meta %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ csrf_meta() }}
  <title>Passenger dashboard</title>
</head>

<body>
  <h1>Passenger dashboard</h1>
  <form method="POST" action="{{ url_for('create_ride') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <label for="from_location">From:</label>
    <input type="text" id="from_location" name="from_location" required>

    <label for="to_location">To:</label>
    <input type="text" id="to_location" name="to_location" required>

    <button type="submit">Create Ride</button>
  </form>

  <!-- Display incoming quotations (if any) -->
  {% for quotation in quotations %}
  <div>
    <!-- Quotation details -->
    <div>
      tripId:{{quotation.trip_id}}
      Quotation Amount:{{quotation.quotation_amount}}
    </div>
    <form action="{{ url_for('accept_quotation', quotation_id=quotation.id) }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <button type="submit">Accept</button>
    </form>

    <form action="{{ url_for('reject_quotation', quotation_id=quotation.id) }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <button type="submit">Reject</button>
    </form>
  </div>
  {% endfor %}




  <a href="{{ url_for('ride_history') }}">View Ride History</a>



  {% if current_user.is_authenticated %}
  <a href="{{ url_for('passenger_logout') }}">Logout</a>
  {% endif %}

  <a href=" {{url_for('index')}}">Not a passenger? go to home??</a>

</body>

</html>